.inventoryslot__container {
  position: relative;
}

.inventoryslot__slot {
  width: 80px;
  height: 80px;
  margin: 16px;
  padding: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  background-color: #191919;
  z-index: 2000;
}

.inventoryslot__hover {
  display: none;
  position: absolute;
  width: 200px;
  height: 256px;
  padding: 8px;
  top: 10%;
  right: -195%;
  border-radius: 16px;
  background-color: #080d21;
  border: 2px solid #939394;
  color: white;
  z-index: 2000;
}

.inventoryslot__hover > p {
  margin-bottom: 8px;
}

/* hover over inventory slot */
.inventoryslot__container:hover .inventoryslot__hover {
  display: block;
  animation: fadeIn 0.3s ease forwards;
}

/* animate fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
