.playerinventory {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: #2a241f;
  border-radius: 14px;
  box-shadow: 0 0 20px black;
}
